@import "styles.less";

body {
    background-color: #2f3136;
    color: #afb0b2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


    #L_form,
    #R_form,
    #UP_form,
    #UA_form {
        padding: 10px;
        label {
            display: block;

            b {
                display: block;
                line-height: 20px;
            }
        }
        #L_message,
        #R_message {
            display: block;
        }

    }
    #membersList {
        form {
            display: inline;

            input {
                display: inline;
            }
        }
    }

    table {
        border: 1px solid #afb0b2;

        tr, th {
            border: 1px solid #afb0b2;

            td {                
                border: 1px solid #afb0b2;
            }
        }
    }
}