@import "styles.less";

body {
    background-color: #2f3136;
    color: #afb0b2;


    #L_form,
    #R_form {
        padding: 10px;
        label {
            display: block;

            b {
                display: block;
                line-height: 20px;
            }
        }
        #L_message,
        #R_message {
            display: block;
        }

    }
}